<h1>All Aritsts</h1>
<% @artists.each do |artist| %>
  <% if artist.song_count == 1 %>
  <h3><a href="/artists/<%= artist.id %>"><%= "#{artist.name}" %></a><%= ": #{artist.song_count} song"%></h3>
  <% else %>
  <h3><%= "#{artist.name}: #{artist.song_count} songs" %></h3>
  <% end %>
<% end %>
